*{
    font-family: sans-serif, "Arial" ;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    
}

body{ 
    height: 100vh ;
    width : 100vw ;
    display: grid ;
    place-items : center ;
    
}

/* Style pada Foto profile dan link eksternal
nav { 
    height : 7px ;
    position : absolute;
    top : 0 ;
    right : 0 ;
    display: : flex
    align-items: center;
    margin: 2vw ;
}

nav >* {
    margin: 6px ;
    color: black ;
}

nav img {
    height : 5vh ;
    width : 5vh ;
    background-color: black ;
    border-radius: 50% ;
}


/* Style untuk menyambungkan ke google */
form {
    width :47.5vw ;
        
}


/* Style untuk mengedit search */
.search_logo { 
    width: 100% ;
    padding : 0 20% 5vh ;
}

.search input {
    width: 100% ;
    height: 50px ;
    border-radius : 25px ;
    padding: 0 50px ; 
    border: 1px solid #dfe1e5 ;
    font-size: 16px ;
}

.search input : focus, 
.search input :hover {
    outline : none ;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15) ;
    border : 1px solid rgba (0,0,0,0) ;
    
}


.search {
    position: relative ;
}

.gambar_icon {
    position: absolute ;
    top:  25% ;
    opacity: 0.35 ;   
}

.search_icon {
    position: absolute ;
    left: 20px;
}

.mic_icon {
    position: absolute ;
    left : 700px ;
    
}

.button { /* ini pas nyetting yg button */
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.button button {
    margin: 10px ;
    color: black ;
    background-color: #f8f9fa ;
    padding: 10px 15px ;
    border: none ;
    border-radius: 5px ;
    border : 1px solid rgba(0,0,0,0) ;
}

.button button {
    border : 1px solid #ddd ;
    cursor :pointer ;
}

/* Style untuk mengedit link ITB */
.offer {
    font-size: 13px ;
    text-align: center ;
    margin-top: 50px
}

/* Style fitur yang ditambahkan */
.bahasa {
    font-size: 13px ;
    text-align: center ;
    margin-top: 50px
}